{% extends 'admin.html.twig' %}

{% block title %}Votes - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="d-flex flex-row justify-content-between">
                Votes - Liste
                <span><a class="btn btn-primary" href="{{ path('poll_vote_new') }}"><i class="fal fa-plus"></i></a></span>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    {% if poll_votes|length > 0 %}
                        <table class="table table-bordered align-middle">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Votant</th>
                                    <th>Sondage</th>
                                    <th>#id - Réponse</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for poll_vote in poll_votes %}
                                <tr>
                                    <td>{{ poll_vote.id }}</td>
                                    <td>{{ poll_vote.user }}</td>
                                    <td>{{ poll_vote.poll }}</td>
                                    <td>#{{ poll_vote.pollOption.id }} - {{ poll_vote.pollOption }}</td>
                                    <td>
                                        <a href="{{ path('poll_vote_edit', {'id': poll_vote.id}) }}"><button class="btn btn-outline-warning btn-action"><i class="fal fa-pen-square fa-fw"></i></button></a>
                                        {{ include('dashboard/poll_vote/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info text-center mb-0" role="alert">
                            Pas d'enregistrement pour le moment.
                        </div>
                    {% endif %}
                </div>
            </div>   
        </div>
    </div>
</div>
{% endblock %}
